@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Transcreva seus podcast favoritos.</p>
    <p>Pesquise por termos que ouviu dentro do podcast.</p>
</div>
