@model TCC.Web.Models.ViewModel.Catalogo.CadastroCatalogosPodcastsViewModel
@{
    ViewData["Title"] = "Catalogar Podcasts";
}

<div class="row">
    <div class="col-12">
        <div class="form_main">
            <h2 class="heading">Catalogar Podcasts</h2>
            <div class="form">
                <form enctype="multipart/form-data" method="post" id="form-cadastro">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NomeEpisodio" class="control-label"></label>
                        <input asp-for="NomeEpisodio" class="form-control" />
                        <span asp-validation-for="NomeEpisodio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UrlSitePodcast" class="control-label"></label>
                        <input asp-for="UrlSitePodcast" class="form-control" />
                        <span asp-validation-for="UrlSitePodcast" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <p>Selecione o arquivo de audio:</p>
                        <input asp-for="Audio" type="file" />
                        <div><span asp-validation-for="Audio" class="text-danger"></span></div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{ 
@await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
<script>
    $(document).ready(function () {
        var viewModel = @Html.Raw(Json.Serialize(Model));

        const formulario = $("#form-cadastro");
        const _audio = $('#Audio');
        _audio.on('change', function () {
            var file = _audio.prop('files')[0];
            var reader = new FileReader();
            console.log(file);


            reader.addEventListener("load", function () {
                console.log(this.result);
                viewModel.audio = this.result.substr(23);
            }, false);

            reader.readAsDataURL(file);
        });

        formulario.on('submit', function (e) {
            e.preventDefault();

            viewModel.nome = $('#Nome').val();
            viewModel.nomeEpisodio = $('#NomeEpisodio').val();
            viewModel.urlSitePodcast = $('#UrlSitePodcast').val();
            //viewModel.audio = btoa($('#Audio').prop('files')[0]);
            
            AjaxHelper.post(
                '/ApiCatalogo/Cadastrar',
                viewModel,
                function (data) {
                    console.log(data);
                },
                function (data) {
                    console.log(data);
                }
            );
        });
    });
</script>
}